{% extends 'base.html' %}
{% load static %}

{% block title %}Editor{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static '/portfolio/css/editor.css' %}">
{% endblock %}

{% block main_content %}
<div class="centerBlock">
    <div class="centerBlock_editorBlock">
        <div class="centerBlock_editorBlock_logoBlock">
            <svg width="60" height="50" viewBox="0 0 60 50" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-[60px] h-[50px] relative" preserveAspectRatio="none">
                <path d="M54 20.6401C54 18.5184 52.9886 16.4836 51.1882 14.9833C49.3879 13.483 46.9462 12.6401 44.4 12.6401H15.6C13.0539 12.6401 10.6123 13.483 8.81191 14.9833C7.01158 16.4836 6 18.5184 6 20.6401" stroke="white" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M54 20.6401C39.384 32.6401 20.616 32.6401 6 20.6401" stroke="white" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M53.9998 20.6401L51.5998 36.6401C51.2417 38.8177 49.9661 40.8179 48.0005 42.2835C46.0352 43.7491 43.5085 44.5845 40.8718 44.6401H18.9358C16.2992 44.5845 13.7724 43.7491 11.807 42.2835C9.84159 40.8179 8.56589 38.8177 8.20786 36.6401L5.80786 20.6401" stroke="white" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M20.4233 12.0801C20.4233 9.95834 21.4347 7.9235 23.2351 6.42322C25.0354 4.92292 27.4773 4.08008 30.0234 4.08008C32.5693 4.08008 35.0113 4.92292 36.8116 6.42322C38.6118 7.9235 39.6234 9.95834 39.6234 12.0801" stroke="white" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
            <div class="centerBlock_editorBlock_logoBlock_textBlock">
                <p class="centerBlock_editorBlock_logoBlock_textBlock_miniTitle">PyPortfolio by:</p>
                <p class="centerBlock_editorBlock_logoBlock_textBlock_title">Marchello</p>
            </div>
        </div>
        <div class="centerBlock_editorBlock_formBlock">
            <form id="editorForm" class="centerBlock_editorBlock_formBlock_formInputs" action="{% url 'editor' %}" method="post" novalidate>
                {% csrf_token %}

                {% for field in form %}
                
                    {% if field.name == 'skills' %}
                        <div style="margin-top: 15px; margin-bottom: 15px;">
                            <label style="color: #FFF; font-family: 'Overpass Mono'; margin-bottom: 5px; display:block;">
                                {{ field.label }}:
                            </label>

                            <div class="skills-grid">
                                {% for checkbox in field %}
                                    <div class="skill-item">
                                        {{ checkbox.tag }}
                                        <label for="{{ checkbox.id_for_label }}" class="skill-btn">
                                            {{ checkbox.choice_label }}
                                        </label>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                    {% else %}
                        <p>
                            {{ field.label_tag }} <br>
                            {{ field }}
                        </p>
                    {% endif %}
                    
                {% endfor %}
            </form>
        </div>
        <div class="centerBlock_editorBlock_buttonsBlockCenter">
            <div class="centerBlock_editorBlock_buttonsBlockCenter_buttonsBlock">
                <button id="createCvBtn" disabled style="opacity: 0.5; cursor: not-allowed;" class="centerBlock_editorBlock_buttonsBlockCenter_buttonsBlock_buttonCreate" type="button">Create CV</button>
                <a href="#">
                    <button class="centerBlock_editorBlock_buttonsBlockCenter_buttonsBlock_buttonHistory" type="button">CV creation history</button>
                </a>
            </div>
        </div>
    </div>
    
    <div class="centerBlock_resumeBlock">
        <div class="centerBlock_resumeBlock_textBlock">
            <div class="centerBlock_resumeBlock_textBlock_contactBlock">
                {% if user.is_authenticated %}
                    <p class="centerBlock_resumeBlock_textBlock_contactBlock_usernameText">{{ user.username }}</p>
                {% endif %}
                
                <p class="centerBlock_resumeBlock_textBlock_contactBlock_workEmail js-preview-email"></p>
                <p class="centerBlock_resumeBlock_textBlock_contactBlock_phoneNumber js-preview-phone"></p>
                
                <p class="centerBlock_resumeBlock_textBlock_contactBlock_GitHubTitle">Github:</p>
                <a class="centerBlock_resumeBlock_textBlock_contactBlock_GitHubLink js-preview-github" target="_blank"></a>
            </div>
            
            <div class="centerBlock_resumeBlock_textBlock_summaryBlock">
                <p class="centerBlock_resumeBlock_textBlock_summaryBlock_summaryTitle">Summary:</p>
                <p class="centerBlock_resumeBlock_textBlock_summaryBlock_summaryText js-preview-summary"></p>
            </div>
            
            <div class="centerBlock_resumeBlock_textBlock_skillsBlock">
                <p class="centerBlock_resumeBlock_textBlock_skillsBlock_skillsTitle">Technical skills:</p>
                <div class="centerBlock_resumeBlock_textBlock_skillsBlock_skillsItemsBlock">
                    <div class="js-preview-skills-container" style="display: flex; gap: 10px; flex-wrap: wrap;">
                    </div>
                </div>
            </div>
            
            <div class="centerBlock_resumeBlock_textBlock_workExperienceBlock">
                <p class="centerBlock_resumeBlock_textBlock_workExperienceBlock_workExperienceTitle">Work experience:</p>
                <p class="centerBlock_resumeBlock_textBlock_workExperienceBlock_workExperienceText js-preview-work"></p>
            </div>
            
            <div class="centerBlock_resumeBlock_textBlock_educationBlock">
                <p class="centerBlock_resumeBlock_textBlock_educationBlock_educationTitle">Education:</p>
                <p class="centerBlock_resumeBlock_textBlock_educationBlock_educationText js-preview-education"></p>
            </div>
        </div>
    </div>
</div>

{% if form.errors %}
<script id="server-errors" type="application/json">
    {{ form.errors.as_json|safe }}
</script>
{% endif %}

{% endblock %}

{% block extra_js %}
<script src="{% static 'portfolio/js/editor.js' %}"></script>
{% endblock %}