.pnotify, 
.pnotify * , 
.pnotify-title, 
.pnotify-text {
    font-family: 'Overpass Mono', monospace !important;
}

.centerBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 44px;
}

.centerBlock_editorBlock_logoBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 294px;
    height: 71px;
    background: rgba(0, 0, 0, 0.50);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 10px;
    column-gap: 15px;
}

.centerBlock_editorBlock_logoBlock_textBlock_miniTitle {
    color: #FFF;
    font-family: "Overpass Mono";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.centerBlock_editorBlock_logoBlock_textBlock_title {
    color: #FFF;
    font-family: "Overpass Mono";
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.centerBlock_editorBlock_formBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 294px;
    height: 640px;
    background: rgba(0, 0, 0, 0.50);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 10px;
    column-gap: 15px;
    margin-top: 7px;
}

.centerBlock_editorBlock_formBlock_formInputs {
    width: 278px;
    height: 620px;
}

form label {
    display: inline-block;
    color: #FFF;
    font-family: "Overpass Mono";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 8px;
}

form input {
    width: 274px;
    height: 25px;
    border-radius: 2px;
    border: none;
    outline:none;
    font-family: "Overpass Mono"; 
    margin-top: 8px;
}

form textarea {
    width: 274px;
    height: 72px;
    border-radius: 2px;
    border: none;
    outline:none;
    font-family: "Overpass Mono"; 
    resize: none;
}

.skills-grid {
    display: flex;
    flex-wrap: wrap; 
    gap: 8px;       
    width: 274px;   
}

.skill-item input[type="checkbox"] {
    display: none;
}

.skill-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    background-color: transparent; 
    border: 1px solid #FFF;       
    border-radius: 4px;
    color: #FFF;
    font-family: "Overpass Mono";
    font-size: 12px;
    cursor: pointer;
    transition: 0.2s;
    margin: 0 !important; 
    width: auto !important; 
}

.skill-item input[type="checkbox"]:checked + .skill-btn {
    background-color: #000; 
    border-color: #FFF;
    font-weight: bold;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

.centerBlock_editorBlock_buttonsBlockCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 294px;
    height: 84px;
    background: rgba(0, 0, 0, 0.50);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 10px;
    column-gap: 15px;
    margin-top: 7px;
}

.centerBlock_editorBlock_buttonsBlockCenter_buttonsBlock {
    width: 278px;
    height: 65px;
}

.centerBlock_editorBlock_buttonsBlockCenter_buttonsBlock_buttonCreate {
    width: 278px;
    height: 31px;           
    border-radius: 2px;
    background: #ffffff;
    color: #000000;
    font-family: "Overpass Mono";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    transition-duration: 0.6s;
    cursor: pointer;
    &:hover {
        background: #000000;
        color: #ffffff;
        transition-duration: 0.6s;
    }
}

.centerBlock_editorBlock_buttonsBlockCenter_buttonsBlock_buttonHistory {
    width: 278px;
    height: 31px;           
    border-radius: 2px;
    background: #ffffff;
    color: #000000;
    font-family: "Overpass Mono";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    transition-duration: 0.6s;
    cursor: pointer;
    margin-top: 4px;
    &:hover {
        background: #000000;
        color: #ffffff;
        transition-duration: 0.6s;
    }
}

.centerBlock_resumeBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 642px;
    height: 808px;
    background-color: #ffffff;
    box-shadow: 0px 4px 4px 0 rgba(0,0,0,0.25);
    border-radius: 10px;
}

.centerBlock_resumeBlock_textBlock {
    width: 582px;
    height: 754px;
}

.centerBlock_resumeBlock_textBlock_contactBlock {
    width: 100%;
    height: 180px;
}

.centerBlock_resumeBlock_textBlock_contactBlock_usernameText {
    color: #000;
    font-family: "Overpass Mono";
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.centerBlock_resumeBlock_textBlock_contactBlock_workEmail {
    color: #000;
    font-family: "Overpass Mono";
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 2px;
}


.centerBlock_resumeBlock_textBlock_contactBlock_phoneNumber {
    color: #000;
    font-family: "Overpass Mono";
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 2px;
}

.centerBlock_resumeBlock_textBlock_contactBlock_GitHubTitle {
    color: #000;
    font-family: "Overpass Mono";
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 2px;
}

.centerBlock_resumeBlock_textBlock_contactBlock_GitHubLink {
    color: #6f00ff;
    font-family: "Overpass Mono";
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 2px;
}

.centerBlock_resumeBlock_textBlock_summaryBlock_summaryTitle {
    color: #000;
    font-family: "Overpass Mono";
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    margin-top: 15px;
}

.centerBlock_resumeBlock_textBlock_summaryBlock_summaryText {
    color: #000;
    font-family: "Overpass Mono";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 5px;
}

.centerBlock_resumeBlock_textBlock_skillsBlock_skillsTitle {
    color: #000;
    font-family: "Overpass Mono";
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    margin-top: 15px;
}

.centerBlock_resumeBlock_textBlock_skillsBlock_skillsItemsBlock {
    height: 28px;
}

.centerBlock_resumeBlock_textBlock_skillsBlock_skillsItemsBlock_skillItem {
    height: 28px;
    box-sizing: border-box; 
    display: inline-flex; 
    width: auto;         
    padding: 0 8px;    
    align-items: center;
    justify-content: center;
    background: #000;
    color: #fff;
    border-radius: 4px; 
    font-family: "Overpass Mono";
    font-size: 15px;     
    font-weight: 400;
}

.centerBlock_resumeBlock_textBlock_workExperienceBlock_workExperienceTitle {
    color: #000;
    font-family: "Overpass Mono";
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    margin-top: 15px;
}

.centerBlock_resumeBlock_textBlock_workExperienceBlock_workExperienceText {
    color: #000;
    font-family: "Overpass Mono";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 5px;
}

.centerBlock_resumeBlock_textBlock_educationBlock_educationTitle {
    color: #000;
    font-family: "Overpass Mono";
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    margin-top: 15px;
}

.centerBlock_resumeBlock_textBlock_educationBlock_educationText {
    color: #000;
    font-family: "Overpass Mono";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 5px;
}