.centerBlock {
    display: flex;
    justify-content: center;
    align-items: center;
}

.centerBlock_editorBlock_logoBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 294px;
    height: 71px;
    background: rgba(0, 0, 0, 0.50);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 10px;
    column-gap: 15px;
}

.centerBlock_editorBlock_logoBlock_textBlock_miniTitle {
    color: #FFF;
    font-family: "Overpass Mono";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.centerBlock_editorBlock_logoBlock_textBlock_title {
    color: #FFF;
    font-family: "Overpass Mono";
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}