.pnotify, 
.pnotify * , 
.pnotify-title, 
.pnotify-text {
    font-family: 'Overpass Mono', monospace !important;
}

.logoBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 294px;
    height: 71px;
    background: rgba(0, 0, 0, 0.50);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 10px;
    column-gap: 15px;
}

.logoBlock_textBlock_miniTitle {
    color: #FFF;
    font-family: "Overpass Mono";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.logoBlock_textBlock_title {
    color: #FFF;
    font-family: "Overpass Mono";
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.mainBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 294px;
    height: 589px;
    background: rgba(0, 0, 0, 0.50);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 10px;
    margin-top: 10px;
}

.mainBlock_filesBlock {
    width: 278px;
    height: 565px;
    overflow-y: auto;
}

.mainBlock_filesBlock_titleTextCenterBlock {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainBlock_filesBlock_titleTextCenterBlock_titleText {
    color: #FFF;
    font-family: "Overpass Mono";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.mainBlock_filesBlock_fileBlock {
    width: 100%;
    height: 92px;
    margin-top: 4px;
}

.mainBlock_filesBlock_fileBlock_titleTextCenterBlock {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainBlock_filesBlock_fileBlock_titleTextCenterBlock_titleText {
    color: #FFF;
    font-family: "Overpass Mono";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.mainBlock_filesBlock_fileBlock_buttonDownload {
    width: 278px;
    height: 31px;           
    border-radius: 2px;
    background: #ffffff;
    color: #000000;
    font-family: "Overpass Mono";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    transition-duration: 0.6s;
    cursor: pointer;
    margin-top: 4px;
    &:hover {
        background: #21871F;
        color: #ffffff;
        transition-duration: 0.6s;
    }
}

.mainBlock_filesBlock_fileBlock_buttonDelete {
    width: 278px;
    height: 31px;           
    border-radius: 2px;
    background: #ffffff;
    color: #000000;
    font-family: "Overpass Mono";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    transition-duration: 0.6s;
    cursor: pointer;
    margin-top: 6px;
    &:hover {
        background: #C20000;
        color: #ffffff;
        transition-duration: 0.6s;
    }
}

.buttonBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 294px;
    height: 49px;
    background: rgba(0, 0, 0, 0.50);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 10px;
    margin-top: 10px;
}

.buttonBlock_backToEditorButton {
    width: 278px;
    height: 31px;           
    border-radius: 2px;
    background: #ffffff;
    color: #000000;
    font-family: "Overpass Mono";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    transition-duration: 0.6s;
    cursor: pointer;
    &:hover {
        background: #000000;
        color: #ffffff;
        transition-duration: 0.6s;
    }
}